<%= form_for [product, product.comments.new], remote: true do |f| %>
  <%= f.text_field :body, required: true, placeholder: 'Add a comment' %>
  <%= f.submit 'Save' %>
<% end %>

<div class = 'comments' id='product-<%= product.id %>-comments'>

<% product.comments.order('created_at DESC').each do |commentarios| %>
	<%= link_to 'Mark as Spam', product_comment_path(commentarios.product.id, commentarios.id) , method: :delete ,remote: true, id: 'remove_comment_' + commentarios.id.to_s, data: { confirm: "Are you sure?" 	} %>

<p id="comment_<%= commentarios.id %>"> 
		<%= commentarios.body%>
		<div class = 'comments_created_at' id= "comment_<%= commentarios.id %>_created_at" ><p>Created at: <%= commentarios.created_at %></p>
		</div>
</p>

<% end %>

</div>
