$('#product-<%= @comment.product.id %>-comments').prepend('<p id="comment_<%= @comment.id %>"> <%= @comment.body %> <div class = "comments_created_at" id = "comment_<%= @comment.id %>_created_at"> <%= @comment.created_at %></div> </p>');

$('#product-<%= @comment.product.id %>-comments').prepend("<%= escape_javascript(link_to 'Mark as Spam', product_comment_path(@comment.product.id, @comment.id) , method: :delete ,remote: true, id: 'remove_comment_' + @comment.id.to_s, data: { confirm: 'Are you sure?' 	} ) %>");