<script src="http://maps.googleapis.com/maps/api/js"></script>
<script > 
      function initialize() {
        var mapProp = {
        center:new google.maps.LatLng(49.6841391,-124.990449300000020000),
        zoom:13,
        mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="googleMap" style="width: 500px; height: 380px;"></div>

<div id= "address">
  <p>Tel: 250-234-0456</p>
  <p> 5th Street, Courtenay, BC</p>
</div>

<div id='contact-form'>
  <%= form_tag('sendEmail') do %>
    <%= label_tag :name %><br/>
    <%= text_field :page, :name %>

    <br><br>

    <%= label_tag :email %><br/>
    <% if signed_in? %>
      <%= text_field :page, :email , value:  @current.email %>
    <% else %>
      <%= text_field :page, :email %>
    <% end %>
    <br><br>

    <%= label_tag :message %><br/>
    <%= text_field :page, :messsage %>

    <br><br>

    <%= submit_tag 'Send' %>
  <% end %>
</div>