// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likes-products{
	clear: both;
}

.form-like-product{
	margin-right: 15px;
	float: left;	
}